* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: darkblue;
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 1.5em;
    font-weight: bold;
}

header li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    justify-content: space-between;
}

header nav li a {
    color: white;
}

a {
    color: blue;
}

p {
    color: green;
}

.subtitle {}

.subtitle h2 {}

main .content {}

.section {}

.section h2 {}

.section p {}

.flex-container {}

.flex-item {}

.flex-item h3 {}

.flex-item span {}

footer nav ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer nav a {
    color: green;
}