* {
    box-sizing: border-box;
}

:root {
    --darkblue: rgba(68,88,119,1);
    --lightblue: rgba(146,204,206,1);
    --lightgray: rgba(49,52,61,1);
    --darkgray: rgba(28,29,33,1);
    --white: rgba(238,238,247,1);
}

body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkblue);
    background-color: var(--white);
}

h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 20px;
    color: var(--darkblue);
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--lightgray);
}

header h1 {
    font-size: 4vw;
    padding: 5px 1% 5px 6%;
    color: var(--darkgray);
    background-color: var(--lightblue);
    font-weight: bold;
}

header li {
    list-style: none;
    font-size: 1.4em;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
}

header nav li a {
    padding: 5px 10px;
    color: var(--lightblue);
    background-image: var(--lightblue);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
}

header nav a:hover {
    background-size: 100% 100%;
    color: var(--lightblue);
}

.subtitle {
    background-color: var(--lightgray);
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 70px 95px 25px 0px;    
    text-align: right;
}

.subtitle h2 {
    font-size: 2.3rem;
    color: var(--lightgray);
    padding: 2% 6%;
    display: inline-flex;
    justify-content:space-between;
    background-color: var(--lightblue);
}

.section {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.about-me > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    color: var(--darkblue);
    border-right: 5px solid var(--darkblue);
}

.about-me div {
    flex: 0 0 77%;
}

.about-me p {
    margin-bottom: 20px;
}

.work {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.work > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding: 0px 15px 0px 25px;
    font-size: 4vw;
    color: var(--darkblue);
    border-right: 5px solid var(--darkblue);
}

.work div {
    flex: 0 0 77%;
}

.work p {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
   
}

.flex-item {
    border: 5px solid var(--lightblue);
    color: var(--darkgray);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-color: var(--lightgray);
    background-size: 150%;
}

.flex-item:hover {
    background-color: var(--white);
}

.flex-item div {
    padding: 6px 8px;
}

.flex-item h3 {
    font: 1.5em;
    background-color: var(--lightblue);
}

.flex-item span {
    padding: 20px;
    font-size: 0.9em;
    background-color: var(--lightblue);
}

.contact {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.contact > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    font-size: 4vw;
    color: var(--darkblue);
    border-right: 5px solid var(--darkblue);
}

.contact div {
    flex: 0 0 77%;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

address a {
   color: var(--darkblue);
   text-decoration: none;
   text-align: center;
   padding: 5px;
   font-size: 1.3rem;
   font-style: normal;
   align-items: center;
   margin: 0 0.2rem 0.1rem;
   display: inline-block;
}