* {
    box-sizing: border-box;
}

:root {
    --darkblue: rgba(68,88,119,1);
    --lightblue: rgba(146,204,206,1);
    --lightgray: rgba(49,52,61,1);
    --darkgray: rgba(28,29,33,1);
    --white: rgba(238,238,247,1);
}

body {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkblue);
    background-color: var(--white);
}

h1,
h2 {
    margin: 0;
}

p {
    margin: 0;
    font-size: 20px;
    color: var(--darkblue);
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--lightgray);
}

header h1 {
    font-size: 4vw;
    padding: 5px 1% 5px 6%;
    color: var(--darkgray);
    background-color: var(--lightblue);
    font-weight: bold;
}

header li {
    list-style: none;
    font-size: 1.4em;
    margin: 10px;
    padding: 10px;
    display: inline-flex;
}

header nav li a {
    text-decoration: none;
    margin-right: 5px;
    color: var(--lightblue);
    border-bottom: 4px solid var(--lightblue);
}

.subtitle {
    padding: 20px;
}

.subtitle h2 {
    padding: 20px;
    font-size: 35px;
    color: var(--darkblue);
}

main {

}

main .content {
    padding: 20px;

}

.section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding: 0px 15px 0px 25px;
    font-size: 4vw;
    color: var(--darkblue);
    border-right: 5px solid var(--darkblue);
}

.section p {
    flex: 0 0 77px;
    display: block;
}

.flex-container {
    padding: 20px;

}

.flex-item {
    padding: 20px;

}

.flex-item h3 {
    padding: 20px;
    text-decoration: none;

}

.flex-item span {
    padding: 20px;
    text-decoration: none;
}

footer nav ul {
    color: var(--darkblue);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

footer nav a {
    color: var(--darkblue);
}